body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url('./assets/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.opacity {
  background-color: rgba(0, 4, 12, 0.3);
}

h1 {
  font-family: 'Montserrat';
  font-size: 40px;
  color: #faf0e6;
  margin: 0;
}

h2 {
  font-family: 'Montserrat';
  font-size: 24px;
  color: #faf0e6;
  margin:0;
}

h3 {
  font-family: 'Roboto';
  font-size: 16px;
  color: #faf0e6;
  margin: 0 5px 0 0;
}

h3 span {
  font-size: 12px;
}

h4 {
 font-family: 'Montserrat';
  font-size: 20px;
}

h5 {
  font-family: 'Montserrat';
  font-size: 18px;
  margin-block-start: 3px;
  margin-block-end: 5px;
}

p {
  font-family: 'Montserrat';
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
  text-align: left;
  margin-bottom: 5%;
}

.icons {
  width: 95%;
  text-align: right;
  margin-top: 2%;
}

ul {
  list-style: none;
}

li {
display: inline-block;
border: 1px solid white;
border-radius: 50%;
}

li a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 40px;
  width: 40px;
}

.icons img {
  width: 20px;
  padding-top: 4px;
}

.owner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolio-owner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10%;
}

.portfolio-titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10%;
}

.profile-avatar {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 5%;
  margin-bottom: -5%;
}

.profile-avatar img {
  border-radius: 50%;
  width: 162px;
  height: 162px;
  border: 2px solid #faf0e6;
}

.summary {
  background-color: #faf0e6;
  margin: 0;
  padding: 5%;
}

.tech {
  text-align: center;
  background-color: #fdfaf6 ;
  padding: 5%;
}

.featured {
  display: flex;
  flex-direction: column;
}

.featured-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf0e6 ;
  padding: 5%;
}

.featured-projects img {
  width: 100%;
  height: auto;
}

.heart-padding {
  padding-top: 3%;
  padding-bottom: 3%;
}

.featured-projects p {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
}

.big-screen-featured {
  visibility: hidden;
  height: 0;
}

.techs {
  display: flex;
  flex-flow: row wrap;
  margin-right: 5%;
}

.tech-tag {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #eacfc4;
  margin: 10px 5px 0 0;
  padding: 3px 10px 1px 10px;
  align-items: center;
}

.other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfaf6 ;
  width: 100%;
  padding: 5%;
  margin: 0;
}

.list-others {
  display: flex;
  flex-direction: column;
}
.other-section {
  display: flex;
  flex-direction: row;
}

.other-section img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-right: 20px;
}

.mustard {
  border-radius: 50px;
}

.other-text{
  padding-bottom: 5%;
}

.other p {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
}

.list p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.community {
display: flex;
flex-direction: column;
align-items: center;
background-color: #faf0e6;
padding: 5%;
}

.assignement-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.community p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #fdfaf6;
  margin: 0;
}

.skills p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.skill-container {  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.skill-tech {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

footer {
  background-image: url('./assets/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  padding: 5% 0 0 10%;
}

.back-to-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -10% 10% 5% 0;
}

.arrow-border {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 30px;
  padding: 5px 15px 5px 15px;
}

@media (min-width: 668px) {

  h1 {
    font-size: 60px;
    }

  h2 {
  font-size: 30px;
  }

  h3 {
    font-size: 22px;
    padding: 2px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 25px;
  }

  p {
    font-size: 26px;
  }

  li a {
    height: 60px;
    width: 60px;
  }

  .profile-avatar {
    margin-top: -120px;
  }

  .profile-avatar img {
    width: 200px;
    height: 200px;
  }

  .icons img {
    width: 25px;
  }
  
  li {
    border: 2px solid white;
  }

  .summary {
    padding: 5% 10% 5% 10%;
  }

  .tech {
    padding: 5% 10% 5% 10%;
  }
  
  .featured {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .featured a {
    width: 47%;
  }

  footer h3 {
    font-size: 26px;
  }

  footer span {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {

  .profile-avatar {
  width: 90%;
  }

  .summary {
    padding: 5% 15% 5% 15%;
  }

  .tech {
    padding: 5% 15% 5% 15%;
  }

  .featured a {
    width: 30%;
  }
 
  .big-screen-featured {
    visibility: visible;
    height: auto;
  }

  .list-others {
    flex-flow: row wrap;
    justify-content: center;
  }

  .list-others a {
    width: 40%;
  }

  .only-smaller-screen {
    display: none;
  }

  .back-to-top {
    font-size: 40px;
  }
}